@import "tailwindcss";

@theme {
  --color-brand-primary: #b3d43d;
  --color-brand-light:   #e0f687;
  --color-brand-dark:    #5e644f;

  --color-surface: #f7f9fd;
  --color-ink:     #171717; 
}

body { @apply bg-surface text-ink; }
